body{
    background-color: #eca02f;
}

.container {
    min-height: 54%;
    margin: 100px;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 0.71);
    padding: 30px;
    display: inline-block;
}

.col-50{
    margin: 5px 20px 5px 20px;
    float: left;
    width: 50%;
}

.col-25{
    margin: 5px 20px 5px 20px;
    float: left;
    width: 25%;
    font-weight: bold;
}

.col-85{
    margin: 5%;
    float: left;
    padding: 25px;
    width: 85%;
}
.container div{
    font-size:20px;
    text-align: center;
}