body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav, .footer {
    text-align: center;
    overflow: hidden;
    background-color: #333;
}

.nav a, .footer span {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 55px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}


