.table-container {
    align-content: center;

    display: contents;
}

table {
    margin: 50px 12% 50px 8%;
    border-collapse: collapse;
    width: 75%;
}

th, td {
    margin: 10px;
    text-align: left;
    padding: 8px;
    color: #212121;
    font-size: 20px;
}

tr {

    border-radius: 10%;
}

tr:nth-child(even) {
    background-color: rgba(247, 255, 236, 0.65)
}

tr:nth-child(odd) {
    background-color: rgba(253, 251, 249, 0.75)
}

tr:hover {
    background-color: #fdfffb;
    color: #043725;
}

th {
    background-color: #333333;
    color: white;
}
.photo-container div {
    text-decoration: none;
    color: #043725;
}

.more {
    display: inline-block;
    font-size: 25px;
    color: #212121;
    background-color: aliceblue;
    width: 20%;
    border-radius: 50px;
    text-align: center;
    margin-left: 70%;
    padding: 15px;
}

.validation {
    text-align: center;
    font-size: 25px;
    padding: 100px;
}